<!-- client marquee section  -->
<section
  class="lg:py-22 xl:py-28 md:py-18 py-12"
  aria-labelledby="clients-heading"
  itemscope
  itemtype="https://schema.org/Organization"
>
  <div class="main-container relative">
    <h2
      data-ns-animate
      data-delay="0.1"
      id="clients-heading"
      class="max-w-[800px] 2xl:text-left text-center 2xl:mx-0 mx-auto"
      itemprop="description"
    >
      Trusted by sellers, makers, and platforms building with local production.
    </h2>

    <div data-ns-animate data-delay="0.2" data-instant>
      <div
        class="logos-marquee-container overflow-hidden mt-14"
        role="img"
        aria-label="Icons representing supported ecommerce platforms"
      >
        <div class="flex items-center justify-center gap-x-14">
          <figure class="shrink-0 w-[135px] h-[45px] ml-14 flex items-center justify-center" itemprop="logo">
            <img
              src="/images/icons/shopify.svg"
              alt="Shopify"
              width="60"
              height="45"
              class="max-w-full max-h-full object-contain"
            />
          </figure>
          <figure class="shrink-0 w-[128px] h-[45px] flex items-center justify-center" itemprop="logo">
            <img
              src="/images/icons/woocommerce.svg"
              alt="WooCommerce"
              width="58"
              height="45"
              class="max-w-full max-h-full object-contain"
            />
          </figure>
          <figure class="shrink-0 w-[160px] h-[45px] flex items-center justify-center" itemprop="logo">
            <img
              src="/images/icons/etsy.svg"
              alt="Etsy"
              width="64"
              height="45"
              class="max-w-full max-h-full object-contain"
            />
          </figure>
          <figure class="shrink-0 w-[164px] h-[45px] flex items-center justify-center" itemprop="logo">
            <img
              src="/images/icons/bigcommerce.svg"
              alt="BigCommerce"
              width="65"
              height="45"
              class="max-w-full max-h-full object-contain"
            />
          </figure>
          <figure class="shrink-0 w-[124px] h-[45px] flex items-center justify-center" itemprop="logo">
            <img
              src="/images/icons/squarespace.svg"
              alt="Squarespace"
              width="56"
              height="45"
              class="max-w-full max-h-full object-contain dark:hidden"
            />
            <img
              src="/images/icons/squarespace-dark.svg"
              alt="Squarespace"
              width="56"
              height="45"
              class="max-w-full max-h-full object-contain hidden dark:block"
            />
          </figure>
          <figure class="shrink-0 w-[148px] h-[45px] flex items-center justify-center" itemprop="logo">
            <img
              src="/images/icons/prestashop.svg"
              alt="PrestaShop"
              width="60"
              height="45"
              class="max-w-full max-h-full object-contain"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
