<!-- client marquee section  -->
<section
  class="lg:py-22 xl:py-28 md:py-18 py-12"
  aria-labelledby="clients-heading"
  itemscope
  itemtype="https://schema.org/Organization"
>
  <div class="main-container relative">
    <h2
      data-ns-animate
      data-delay="0.1"
      id="clients-heading"
      class="max-w-[800px] 2xl:text-left text-center 2xl:mx-0 mx-auto"
      itemprop="description"
    >
      Trusted by sellers, makers, and platforms building with local production.
    </h2>

    <div data-ns-animate data-delay="0.2" data-instant>
      <div
        class="logos-marquee-container overflow-hidden mt-14"
        role="img"
        aria-label="Logos of platforms integrated with Asmbly Labs"
      >
        <div class="flex items-center justify-center gap-x-14">
          <figure class="shrink-0 w-[135px] h-[45px] ml-14" itemprop="logo">
            <img
              src="./images/icons/shopify-metal.svg"
              class="dark:invert"
              alt="Shopify platform logo"
              width="135"
              height="45"
              loading="lazy"
              decoding="async"
            />
          </figure>
          <figure class="shrink-0 w-[128px] h-[45px]" itemprop="logo">
            <img
              src="./images/icons/woocommerce-metal.svg"
              class="dark:invert"
              alt="WooCommerce platform logo"
              width="128"
              height="45"
              loading="lazy"
              decoding="async"
            />
          </figure>
          <figure class="shrink-0 w-[160px] h-[45px]" itemprop="logo">
            <img
              src="./images/icons/tiktok-shop-metal.svg"
              class="dark:invert"
              alt="TikTok Shop platform logo"
              width="160"
              height="45"
              loading="lazy"
              decoding="async"
            />
          </figure>
          <figure class="shrink-0 w-[164px] h-[45px]" itemprop="logo">
            <img
              src="./images/icons/etsy-metal.svg"
              class="dark:invert"
              alt="Etsy marketplace logo"
              width="164"
              height="45"
              loading="lazy"
              decoding="async"
            />
          </figure>
          <figure class="shrink-0 w-[124px] h-[45px]" itemprop="logo">
            <img
              src="./images/icons/square-metal.svg"
              class="dark:invert"
              alt="Square platform logo"
              width="124"
              height="45"
              loading="lazy"
              decoding="async"
            />
          </figure>
          <figure class="shrink-0 w-[148px] h-[45px]" itemprop="logo">
            <img
              src="./images/icons/bigcommerce-metal.svg"
              class="dark:invert"
              alt="BigCommerce platform logo"
              width="148"
              height="45"
              loading="lazy"
              decoding="async"
            />
          </figure>
          <figure class="shrink-0 w-[128px] h-[45px]" itemprop="logo">
            <img
              src="./images/icons/magento-metal.svg"
              class="dark:invert"
              alt="Magento platform logo"
              width="128"
              height="45"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
