<section class="xl:pt-[170px] lg:pt-[140px] pt-[100px] xl:pb-28 lg:pb-20 pb-16">
  <div class="main-container">
    <div class="space-y-4 text-center">
      <h1 data-ns-animate data-delay="0.2" class="font-normal">
        Built for local fulfillment <br class="max-md:hidden" />
        at global scale.
      </h1>
      <p data-ns-animate data-delay="0.3">
        Infrastructure that coordinates production without centralization – reliable systems that connect sellers, makers, and designers fairly.
      </p>
    </div>
  </div>
</section>
