<section class="xl:py-28 py-20">
  <div class="main-container">
    <div class="space-y-2 mb-[70px]">
      <h2 data-ns-animate data-delay="0.1" class="text-heading-4 lg:text-heading-3">
        A full-stack system for distributed manufacturing <br class="max-md:hidden" />
        that unlocks faster fulfillment and shared value.
      </h2>
      <p data-ns-animate data-delay="0.2">
        One system coordinating many independent actors. Reduced overhead. Built-in trust and quality standards. Scales without centralization.
      </p>
    </div>
    <figure data-ns-animate data-delay="0.3" class="rounded-4xl overflow-hidden">
      <img
        src="./images/whyus2.png"
        alt="distributed-manufacturing"
        class="w-full h-full object-cover"
      />
    </figure>
  </div>
</section>
