<div class="pb-8 border-b border-b-stroke-1 dark:border-b-stroke-7">
  <div class="flex justify-start items-start md:gap-x-14 gap-x-6">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="lg:max-w-[467px] md:max-w-[180px] max-w-[50px] w-full text-heading-3 font-normal sticky top-25"
    >
      I
    </h2>
    <div>
      <div
        data-ns-animate
        data-delay="0.2"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Infill Density</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          The percentage of solid material inside a 3D printed object. Makers adjust infill based on strength requirements and material efficiency.
        </p>
      </div>
      <div
        data-ns-animate
        data-delay="0.3"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Inventory-Free Model</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          Asmbly Labs' approach where sellers can offer thousands of products without holding stock, as items are 3D printed only when ordered.
        </p>
      </div>
      <div
        data-ns-animate
        data-delay="0.4"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">IP Protection</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          Intellectual Property safeguards that protect designer's STL files and ensure fair compensation while enabling collaborative manufacturing.
        </p>
      </div>
    </div>
  </div>
</div>
