<div class="pb-8 border-b border-b-stroke-1 dark:border-b-stroke-7">
  <div class="flex justify-start items-start md:gap-x-14 gap-x-6">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="lg:max-w-[467px] md:max-w-[180px] max-w-[50px] w-full text-heading-3 font-normal sticky top-25"
    >
      O
    </h2>
    <div>
      <div
        data-ns-animate
        data-delay="0.2"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Order Routing</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          Automated system that matches customer orders with the most suitable makers based on location, capabilities, and availability within the Asmbly Labs network.
        </p>
      </div>
      <div
        data-ns-animate
        data-delay="0.3"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">On-Demand Production</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          Manufacturing model where products are created only when ordered, eliminating inventory costs and enabling infinite product catalogs for sellers.
        </p>
      </div>
    </div>
  </div>
</div>
