<!-- =========================
Need Help section
===========================-->
<section class="pb-[100px] lg:pb-[200px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div class="main-container">
    <div class="text-center space-y-14 mb-[70px]">
      <div class="space-y-3">
        <h2 data-ns-animate data-delay="0.3">Need help with Asmbly Labs?</h2>
        <p data-ns-animate data-delay="0.4">
          Welcome to the Asmbly Labs Support Center! Whether you're a designer uploading your first STL file, a manufacturer joining our network, or a customer placing an order, we're here to help you succeed in the 3D printing marketplace.
        </p>
      </div>
      <div data-ns-animate data-delay="0.5" class="section-button">
        <a
          href="{=$page-link}"
          class="btn btn-xl hover:btn-secondary dark:hover:btn-accent btn-primary"
        >
          <span>Get support</span>
        </a>
      </div>
    </div>
    <div data-ns-animate data-delay="0.6" data-instant class="section-reveal">
      <figure class="rounded-[20px] overflow-hidden">
        <img src="./images/support1.png" alt="Asmbly Labs support team helping with 3D printing solutions" />
      </figure>
    </div>
  </div>
</section>
