<!-- =========================
Counter section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="main-container progress-container grid grid-cols-1 md:grid-cols-3 gap-8">
    <div data-ns-animate data-delay="0.2" class="flex flex-col space-y-3">
      <div class="w-full h-[2px] bg-stroke-2 relative dark:bg-stroke-6">
        <div class="absolute progress-line w-[25%] left-0 bg-ns-green top-0 h-full"></div>
      </div>
      <p class="text-tagline-2 text-primary-500">01</p>
      <div class="space-y-1">
        <h5>Upload your designs</h5>
        <p>
          Upload STL files, choose materials and pricing, <br class="md:block hidden" />
          then connect your Shopify or WooCommerce store.
        </p>
      </div>
    </div>
    <div data-ns-animate data-delay="0.4" class="flex flex-col space-y-3">
      <div class="w-full h-[2px] bg-stroke-2 relative dark:bg-stroke-6">
        <div class="absolute progress-line w-[0%] left-0 bg-ns-green top-0 h-full"></div>
      </div>
      <p class="text-tagline-2 text-primary-500">02</p>
      <div class="space-y-1">
        <h5>Orders route automatically</h5>
        <p class=" ">Each order is matched to a nearby verified printer with the right capabilities.</p>
      </div>
    </div>
    <div data-ns-animate data-delay="0.6" class="flex flex-col space-y-3">
      <div class="w-full h-[2px] bg-stroke-2 relative dark:bg-stroke-6">
        <div class="absolute progress-line w-[0%] left-0 bg-ns-green top-0 h-full"></div>
      </div>
      <p class="text-tagline-2 text-primary-500">03</p>
      <div class="space-y-1">
        <h5>Print, verify, deliver</h5>
        <p>Local makers print, quality-check, and deliver—often the same day. Payments are handled automatically.</p>
      </div>
    </div>
  </div>
</section>
