<!-- =========================
CTA section
===========================-->
<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="main-container">
    <div class="text-center max-w-[649px] mx-auto">
      <span data-ns-animate data-delay="0.2" class="badge badge-green mb-5">Get started</span>
      <h2 data-ns-animate data-delay="0.3" class="mb-3">
        Turn your designs into

        <span class="text-primary-500">same-day revenue</span>
      </h2>
      <p data-ns-animate data-delay="0.4" class="mb-6">
        Upload your STL files, connect your store, and sell custom products without owning a single printer.
      </p>

      <div data-ns-animate data-delay="0.5" class="md:inline-block text-center">
        <a
          href="./app-builder-contact.html"
          class="btn btn-secondary hover:btn-white dark:hover:btn-accent dark:btn-transparent btn-md w-[85%] md:w-auto"
        >
          <span>Schedule a demo</span>
        </a>
      </div>
    </div>
  </div>
</section>
