<section class="xl:pt-[170px] lg:pt-[140px] pt-[100px] xl:pb-28 lg:pb-20 pb-16">
  <div class="main-container">
    <div class="text-center space-y-6">
      <span data-ns-animate data-delay="0.1" class="badge badge-green-v2"
        >Manufacturing Intelligence</span
      >
      <div class="space-y-4">
        <h1 data-ns-animate data-delay="0.2" class="font-normal">
          Manufacturing insights. Market data.<br />
          Distributed production strategies.
        </h1>
        <p data-ns-animate data-delay="0.3">
          Explore our comprehensive research on modern manufacturing, maker networks, and distributed production. <br />
          Access expert analysis, industry trends, and actionable strategies for the future of making.
        </p>
      </div>
    </div>
  </div>
</section>
